.our-story {
  padding-top: 120px;
  &__container {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__title {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 300;
    text-align: center;
  }
  &__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    line-height: 1.333;
    color: #4a5565;
  }
}

.policy {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__title {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 300;
    text-align: center;
  }
  &__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    line-height: 1.333;
    color: #4a5565;
  }
}
