@use "../variables";
.our-story {
  padding-top: 120px;
  &__container {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__title {
    text-align: center;
    font-size: 40px;
    line-height: 1.2;
  }
  &__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    line-height: 1.333;
    color: variables.$hidden-links;
  }
}

.policy {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__title {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 300;
    text-align: center;
  }
  &__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    line-height: 1.333;
    color: variables.$hidden-links;
  }
}
.companies {
  &__title {
    margin-bottom: 48px;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 24px;
    &__item {
      padding: 24px;
      border: 1px variables.$border-color solid;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      &:hover,
      &:focus {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  }
}
