@use "./variables";

.section {
  margin-bottom: 120px;
  @media screen and (max-width: variables.$desktop) {
    margin-bottom: 100px;
  }
  @media screen and (max-width: variables.$tablet2) {
    margin-bottom: 60px;
  }
}

.container {
  max-width: 1792px;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (max-width: variables.$desktop) {
    max-width: 1352px;
    padding: 0 32px;
  }

  @media screen and (max-width: 768px) {
    max-width: 720px;
  }

  @media screen and (max-width: variables.$mobile) {
    max-width: none;
  }
}

.inner-container {
  max-width: 1464px;
  margin: 0 auto;
  width: 84%;

  @media screen and (max-width: variables.$desktop) {
    max-width: 1096px;
  }

  @media screen and (max-width: variables.$tablet2) {
    width: 100%;
  }
}

//button
.button {
  padding: 18px 35px;
  background-color: variables.$main-black-color;
  font-size: 20px;
  line-height: 1.2;
  color: variables.$main-white-color;
  border: 0.5px variables.$main-black-color solid;
  border-radius: variables.$border-radius;
  // &:hover,
  // &:focus {
  //   background-color: variables.$main-white-color;
  //   color: variables.$main-black-color;
  // }
  @media screen and (max-width: variables.$desktop) {
    font-size: 16px;
    line-height: 1.25;
  }
  @media screen and (max-width: variables.$tablet2) {
    font-size: 14px;
    line-height: 1.28;
    padding: 16px 33px;
  }
}

//no-items
.no-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  &__image {
    max-width: 150px;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 24px;
    line-height: 1.66;
  }
}
//title
.title {
  font-size: 32px;
  line-height: 1.25;
  @media screen and (max-width: variables.$tablet2) {
    font-size: 28px;
    line-height: 1.142;
  }
}
