@use "variables";
.category {
  &__title {
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 32px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
.breadcrumbs__section {
  padding-top: 120px;
}
.breadcrumbs {
  display: flex;
  gap: 4px;
  span {
    color: variables.$grey-color;
    &:last-child > span {
      color: variables.$main-black-color;
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
  font-size: 20px;
  line-height: 1.2;
  .page-numbers {
    color: variables.$grey-color;
    padding: 8px 16px;
    border: 1px variables.$pagination-color solid;
    transform: none;
    &:hover,
    &:focus {
      background-color: variables.$pagination-color;
      color: variables.$main-black-color;
    }
    &.current {
      line-height: normal;
      background-color: variables.$main-black-color;
      color: variables.$main-white-color;
    }
  }
}
