$main-black-color: #262626;
$main-white-color: #fff;
$grey-bg-color: #f9fafb;
$grey-color: #7d7e8a;
$hidden-links: #4a5565;
$hover-links: #364153;
$icon-background: #f3f4f6;

$border-radius: 6px;

$mobile: 575.98px; //320-575
$tablet1: 767.98px;
$tablet2: 991.98px; //576-991
$desktop1: 1150px;
$desktop: 1440px; //992-1440
$full: 1920px; //full

// $main-white: #fdfcfc;
// $main-black: #070707;
// $dark-violet: #663a7b;
// $light-violet: #f5f2f7;
// $grey15: #cfcfcf;
// $grey30: #acacac;
// $grey55: #717171;
// $grey: #6c6c64;
// $grey70: #4e4e4e;
// $main-violet: #ae9ac5;
// $main-mint: #8fcecb;
// $main-yellow: #f1cc75;
// $dark-mint: #027f79;
// $dark-violet: #663a7b;
// $dark-yellow: #a87806;
// $blue: #2031cb;
// $red-alert: #e40505;
