$main-black-color: #262626;
$main-white-color: #fff;
$grey-bg-color: #f9fafb;
$grey-color: #7d7e8a;
$hidden-links: #4a5565;
$hover-links: #364153;
$icon-background: #f3f4f6;
$pagination-color: #f1f1f1;
$border-color: #ebe6e7;

$border-radius: 6px;

$mobile: 575.98px; //320-575
$tablet1: 767.98px;
$tablet2: 991.98px; //576-991
$desktop1: 1150px;
$desktop: 1440px; //992-1440
$full: 1920px; //full
