@use "../variables";
.breadcrumbs__section {
  padding-top: 120px;
}
.breadcrumbs {
  display: flex;
  gap: 4px;
  span {
    color: variables.$grey-color;
    &:last-child > span {
      color: variables.$main-black-color;
    }
  }
}
